*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    display: block;
    text-decoration: none;
}

html {
    font-size: 10px;
    scroll-behavior: smooth;
    -webkit-text-size-adjust: 100%;
}

/* -- Rem support --*/

@media screen and (max-width: 1239px) and (min-width: 769px) {
    html { font-size: calc(100vw / 124.0) !important; }
}

@media screen and (max-width: 768px) and (min-width: 481px) {
    html { font-size: calc(100vw / 76.8) !important; }
}

@media screen and (max-width: 480px) and (min-width: 321px) {
    html { font-size: calc(100vw / 48.0) !important; }
}

@media screen and (max-width: 320px) {
    html { font-size: calc(100vw / 32.0) !important; }
}

body {
    font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}



/* -- Header -- */

header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 3.2rem;

    width: 100%;
    padding: 4rem 1.2rem 3.2rem;
}

    .header__logo {
        width: 17rem;
    }

    .header__content {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-flow: column nowrap;
                flex-flow: column nowrap;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        gap: 0.8rem;
    }

        .header__title {
            font-size: 2rem;
            font-weight: 800;
            line-height: 2.3rem;
            color: #000;

            text-align: center;
        }

        .header__subtitle {
            font-size: 1.6rem;
            font-weight: 500;
            line-height: 1.9rem;
            color: #666;

            text-align: center;
        }

    .header__devices {
        width: 100%;
    }

    .button-promo {
        display: block;
        width: -webkit-fit-content;
        width: -moz-fit-content;
        width: fit-content;
        cursor: pointer;

        padding: 1.5rem 3.2rem;
        border-radius: 0.5rem;
        background: #69B42E;

        text-align: center;
        font-size: 1.8rem;
        font-weight: 400;
        line-height: 1.8rem;
        color: #FFF;
    }

    .button-promo:hover,
    .button-promo:focus {
        color: #FFF;
    }

@media screen and (min-width: 321px) {

    .header__logo {
        width: 26.8rem;
    }

}

@media screen and (max-width: 480px) and (min-width: 321px) {

    header {
        padding: 4.8rem 1.6rem 3.2rem;
    }

        .header__title {
            font-size: 3.2rem;
            line-height: 3.8rem;
        }

        .header__subtitle {
            font-size: 2.4rem;
            line-height: 2.8rem;
        }

}

@media screen and (max-width: 768px) and (min-width: 481px) {

    header {
        padding: 8.6rem 3.2rem 3.2rem;
    }

        .header__title {
            font-size: 4.8rem;
            line-height: 5.6rem;
        }

        .header__subtitle {
            font-size: 2.4rem;
            line-height: 2.8rem;
        }

        .header__devices {
            margin-top: 3.2rem;
        }

}

@media screen and (min-width: 769px) {

    header {
        padding: 10.4rem 3.2rem 6.4rem;
    }

        .header__content {
            gap: 1.6rem;
        }

            .header__title {
                font-size: 8.6rem;
                line-height: 10.1rem;
            }

            .header__subtitle {
                font-size: 4rem;
                line-height: 4.7rem;
            }

        .header__devices {
            margin-top: 3rem;
        }

}

@media screen and (min-width: 1240px) {

    header {
        max-width: calc(117rem + 6.4rem);
        margin: 0 auto;
    }

}



/* -- Promo -- */

.promo__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    gap: 4rem;

    width: 100%;
    padding: 4rem 1.2rem;
    background: #1A1A1A;
}

    .promo__content {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-flow: column nowrap;
                flex-flow: column nowrap;
        gap: 3.2rem;

        width: 100%;
        padding: 0 1.35rem;
    }

        .promo__date {
            font-size: 2rem;
            font-weight: 600;
            line-height: 2.4rem;
            color: #69B42E;
        }

        .promo__text {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
                -ms-flex-flow: column nowrap;
                    flex-flow: column nowrap;
            gap: 1.2rem;

            width: 100%;
        }

            .promo__title {
                font-size: 2.4rem;
                font-weight: 600;
                line-height: 2.8rem;
                color: #FFF;
            }

            .promo__tags {
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-orient: horizontal;
                -webkit-box-direction: normal;
                    -ms-flex-flow: row nowrap;
                        flex-flow: row nowrap;
                gap: 1.2rem;
            }

                .promo__tag {
                    width: -webkit-fit-content;
                    width: -moz-fit-content;
                    width: fit-content;
                    padding: 0.7rem 1.1rem;
                    border-radius: 8rem;
                    border: 1px solid #CCC;

                    font-size: 1.8rem;
                    font-weight: 400;
                    line-height: 2.4rem;
                    color: #D9D9D9;
                }

            .promo__desc {
                font-size: 1.6rem;
                font-weight: 400;
                line-height: 1.9rem;
                color: #FFF;
            }

        .promo__link, .promo__link:hover {
            font-size: 1.6rem;
            font-weight: 400;
            line-height: 1.8rem;
            color: #69B42E;

            text-decoration: underline;
        }

    .promo__block {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-flow: column nowrap;
                flex-flow: column nowrap;
        gap: 2.4rem;

        width: 100%;
        padding: 4rem 3.2rem;
        border-radius: 1rem;
        background: #FFF;

        .promo__img {
            width: 16rem;
            margin: 0 auto;
        }

        .promo__text {
            gap: 0.8rem;
        }

            .promo__title {
                font-size: 2rem;
                font-weight: 500;
                line-height: 3rem;
                color: #000;
            }

            .promo__desc {
                font-size: 1.6rem;
                font-weight: 400;
                line-height: 1.9rem;
                color: #666;
            }

        .promo__price {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: horizontal;
            -webkit-box-direction: normal;
                -ms-flex-flow: row nowrap;
                    flex-flow: row nowrap;
            -webkit-box-pack: justify;
                -ms-flex-pack: justify;
                    justify-content: space-between;
        }

            s {
                font-size: 1.8rem;
                font-weight: 600;
                line-height: 2.4rem;
                color: #B3B3B3;
            }

            .promo__num {
                font-size: 3.2rem;
                font-weight: 700;
                line-height: 3.6rem;
                color: #000;
            }

            .promo__sub {
                font-size: 1.4rem;
                font-weight: 400;
                line-height: 1.8rem;
                color: #000;
            }

        .button-promo {
            width: 100%;
        }

    }

@media screen and (min-width: 321px) {

    .promo__wrapper {
        border-radius: 3.2rem;
    }

        .promo__content {
            padding: 0;
        }

        .promo__block {
            max-width: 36.8rem;
            margin: 0 auto;

            .promo__title {
                font-size: 2.4rem;
                line-height: 3rem;
            }
            
        }

}

@media screen and (max-width: 480px) and (min-width: 321px) {

    #promo {
        padding: 0 1.6rem;
    }
    
        .promo__wrapper {
            gap: 6rem;
            padding: 6rem 2.4rem 4.5rem;
        }

}

@media screen and (min-width: 481px) {

    #promo {
        padding: 0 3.2rem;
    }

        .promo__title {
            font-size: 3.2rem;
            line-height: 3.8rem;
        }

        .promo__desc {
            font-size: 2rem;
            line-height: 2.3rem;
        }
    
}

@media screen and (max-width: 768px) and (min-width: 481px) {
    
    .promo__wrapper {
        gap: 8rem;
        padding: 8rem 6.45rem;
    }

}

@media screen and (min-width: 769px) {
    
    .promo__wrapper {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-flow: row nowrap;
                flex-flow: row nowrap;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        gap: 6.4rem;

        padding: 8rem 10rem;
    }

}

@media screen and (min-width: 1239px) {

    #promo {
        max-width: calc(114.1rem + 6.4rem);
        margin: 0 auto;
    }

}



/* -- Cards -- */

#cards {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    gap: 1.2rem;

    width: 100%;
    padding: 2.4rem 1.2rem 4.8rem;
}

    .cards__block {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-flow: column nowrap;
                flex-flow: column nowrap;
        gap: 1.2rem;

        width: 100%;
        min-height: 21rem;
        padding: 2.4rem;
        border-radius: 1.6rem;

        background-size: 12rem;
        background-color: #F2F2F2;
        background-position: right bottom;
        background-repeat: no-repeat;
    }

        .cards__title {
            font-size: 1.6rem;
            font-weight: 600;
            line-height: 1.9rem;
            color: #000;
        }

        .cards__desc {
            font-size: 1.6rem;
            font-weight: 400;
            line-height: 1.9rem;
            color: #666666;
        }

@media screen and (min-width: 321px) {

    #cards {
        gap: 1.6rem;
    }

        .cards__block {
            padding: 3.2rem;
            border-radius: 3.2rem;
        }

            .cards__title {
                font-size: 2.4rem;
                line-height: 2.8rem;
            }

}

@media screen and (max-width: 480px) and (min-width: 321px) {

    #cards {
        padding: 3.2rem 1.6rem 4.8rem;
    }

        .cards__block {
            min-height: 32.8rem;
            background-size: 22rem;
        }

}

@media screen and (max-width: 768px) and (min-width: 481px) {

    #cards {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-flow: row nowrap;
                flex-flow: row nowrap;
        padding: 4rem 3.2rem 6.4rem;
    }

        .cards__block {
            min-height: 65.6rem;
            background-size: 34rem;
        }

}

@media screen and (min-width: 769px) {

    #cards {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-flow: row nowrap;
                flex-flow: row nowrap;
        gap: 3.2rem;

        padding: 6.4rem 3.2rem 16.6rem;
    }

        .cards__block {
            min-height: 61.6rem;
            padding: 6.4rem;

            background-size: 34rem;
        }

            .cards__title {
                font-size: 3.2rem;
                line-height: 3.8rem;
            }

            .cards__desc {
                font-size: 2rem;
                line-height: 2.3rem;
            }

}

@media screen and (min-width: 1239px) {

    #cards {
        max-width: calc(117rem + 6.4rem);
        margin: 0 auto;
    }

}

/* -- Footer -- */

footer {
    width: 100%;
    background: #212121;
}

    .footer__wrapper {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-flow: column nowrap;
                flex-flow: column nowrap;
        gap: 0.8rem;

        width: 100%;
        padding: 5.6rem 1.2rem 4rem;
    }

        .footer__wrapper .footer__text:first-child {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: horizontal;
            -webkit-box-direction: normal;
                -ms-flex-flow: row nowrap;
                    flex-flow: row nowrap;
            -webkit-box-align: center;
                -ms-flex-align: center;
                    align-items: center;
            gap: 1.2rem;
        }

        .footer__wrapper .footer__text:first-child::before {
            content: '';
            display: block;

            width: 2.8rem;
            height: 1.8rem;
            background: url(img/logo-mini.svg) left center / cover no-repeat;
        }

        .footer__text {
            font-size: 1.4rem;
            font-weight: 400;
            line-height: 1.8rem;
            color: #C6C7C8;
        }

@media screen and (min-width: 321px) {

    .footer__wrapper {
        gap: 1.2rem;
    }
    
}

@media screen and (max-width: 480px) and (min-width: 321px) {

    .footer__wrapper {
        padding: 6.4rem 1.6rem 4.8rem;
    }

}

@media screen and (min-width: 481px) {

    .footer__wrapper {
        padding: 8rem 3.2rem 6.4rem;
    }

        .footer__text {
            max-width: 30rem;
        }

}

@media screen and (min-width: 1240px) {

    .footer__wrapper {
        max-width: calc(116.8rem + 6.4rem);
        margin: 0 auto;
    }

}